* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,p,a {
    font-family: Roboto;
}


.container {
    background-color: #23424A;
    padding: 140px 1em;
}

.hero {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
    &__text {
        width: 90%;
    }
    h1 {
        color: white;
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        line-height: 1.5em;
        
    }
    p {
        padding: 2em 0;
        color: white;
        font-size: 1.3rem;
        line-height: 2em;
    }



}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38CFD9;
    mix-blend-mode: normal;
    border-radius: 31px;
    padding: .5em 2em;

    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;

    /* identical to box height, or 32px */
    letter-spacing: 0.05em;

    color: #072A2D;
    margin-bottom: 4em;

}