// font-family: 'Playfair Display', serif;

// font-family: 'Roboto', sans-serif;
$brown-color: #824936;
$black-color: #222C2A;
$baige-color: #F3EED9;


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    border: 0;
}

h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
h2 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
p {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}





.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.hero {
    background-color: $baige-color;
    color: $brown-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 660px;

}
.hero__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;

    h1 {
        margin-top: 0;
    }
    p {
        text-transform: uppercase;
        letter-spacing: .5em;
        color: $black-color;
    }
}

.section__title {
    color: $brown-color;
    justify-content: center;
}
.section__one {
    min-height: 660px;

}
.section__two {
    min-height: 660px;

    background-color: $black-color;
    color: white;
}
.section__three {
    min-height: 660px;

    background-color: $brown-color;
    color: white;

}
.section__img {
    width: 40%;
}

.section__text {
    width: 40%;
}